

#mainheading {
    text-align: center;
}

div h6 {
    text-align: center;
}

#maincard {
    text-align: center;
}

#logo {
    padding-left: 10px;
}

.homeimg {
    width: 240px;
    height:180px;

}


.signin {
    padding-top: 150px;
}
