/* applied to all pages*/
body {
    background-image: url("../img/backgroundimg.jpg");
    background-color: rgb(239, 239, 245);
}

/* home.html*/
#mainheading {
    text-align: center;
}

div h5, h6 {
    text-align: center;
}

#carousel {
    height: 250px;
}

.homeimg {
    width: 240px;
    height: 140px;

}

/* Navbar*/
#logo {
    padding: 10px;
}

/* login.html*/
.signin {
    padding-top: 150px;
}

/* utensils.html*/
.gallery {
    width: 240px;
    height:180px;

}

/* newdish.html*/
#description {
    padding: 25px;
    height: 250px;
}

/* dishes.html*/
.display {
    height: 250px;
}


textarea {
    resize: none;
 }


/* profile.html*/
#profile_dish_description {
    height: 125px;
}