{% extends "base.html" %}

<!--A table showing the list of available dishes, structure for this was taken from https://www.youtube.com/watch?v=Z1RJmh_OqeA&t=1178s-->
{% block content %}
<div class="dishmain container">
    <div class="row">
        <form method="POST" action="{{url_for('searchdishes')}}" class="col s12 m12 l12">
            <div class="card-panel">
                <div class="input-field card-content">
                    <span class="card-title">Search your favourite dishes <i class="fas fa-search"></i></span>
                    <label for="search"></label>
                    <div>
                        <a class="red btn right" href="{{ url_for('dishes') }}">Clear</a>
                    </div>
                    <div>
                        <button type="submit" class="light-green btn right">Search</button>
                    </div>
                    <input type="text" name="search" id="name" placeholder="Search a dish name or description..." class="validate">
                </div>
            </div>
        </form>
    </div>
    <table class="card-panel">
        <div class="container">
        <tr>
            <th class="center-align">Type</th>
            <th class="center-align">Dish</th>
            <th class="center-align">Description</th>
        </tr>
        {% for dish in dishes %}
        <tr>
            <td class="center-align">{{ dish.dish_type }}</td>
            <td class="center-align">{{ dish.dish_name }}</td>
            <td class="center-align"><textarea disabled maxlength="500" id="display" name="" rows="10" cols="150">{{ dish.dish_description }}</textarea></td>
        </tr>
        {% endfor %}
    </div>
    </table>
</div>
{% endblock %}