{% extends "base.html" %}

{% block content %}
{% for dish in dishes %}
{{ dish.dish_name }}<br>
{{ dish.dish_type }}<br>
{{ dish.dish_description }}<br>
{% endfor %}

<div class="container">
  <div class="card-panel">
    <h4 id="mainheading">Cookbook <i class="fas fa-utensils"></i></h4>
    <h6>Check out our range of cooking utensils</h6>

    <div class="row">
      <div class="col s8 m6 s12 offset-m3">
        <div class="card red darken-1">
          <div class="card-content white-text center-align">
            <span class="card-title">Welcome</span>
            <p>Looking for a new dish?</p>
            <p><a href="{{ url_for('register') }}">Register</a></p>
            <p><a href="{{ url_for('login') }}">Login</a></p>
          </div>
        </div>
      </div>
    </div>

    <!--carousel taken from Materialize-->
    <div class="carousel" id="carousel">
      <a class="carousel-item gallery" href="{{ url_for('utensils') }}"><img alt="utensils" src="static/img/woodenutensils.png"></a>
      <a class="carousel-item gallery" href="{{ url_for('utensils') }}"><img alt="utensils" src="static/img/bengali_cooking_tools.jpg"></a>
      <a class="carousel-item gallery" href="{{ url_for('utensils') }}"><img alt="utensils" src="static/img/utensils.jpg"></a>
      <a class="carousel-item gallery" href="{{ url_for('utensils') }}"><img alt="utensils" src="static/img/knives.jpg"></a>
      <a class="carousel-item gallery" href="{{ url_for('utensils') }}"><img alt="utensils" src="static/img/kitchenknifeset.jpg"></a>
      <a class="carousel-item gallery" href="{{ url_for('utensils') }}"><img alt="utensils" src="static/img/fullset.jpg"></a>
      <a class="carousel-item gallery" href="{{ url_for('utensils') }}"><img alt="utensils" src="static/img/cutleryshiny.jpg"></a>
      <a class="carousel-item gallery" href="{{ url_for('utensils') }}"><img alt="utensils" src="static/img/cutlerynew.jpg"></a>
      <a class="carousel-item gallery" href="{{ url_for('utensils') }}"><img alt="utensils" src="static/img/cutlery.jpg"></a>
    </div>

    <div class="row center-align">

      <div class="col s12 m12 l4">
        <img class="homeimg" src="static/img/bbq.jpg" alt="a cooked meal">
        <p>
          Cookbooks list of recipies are a great way to learn and try new dishes. We learnt a lot from what other
          Cookbook users had to offer us allowing us to grow our cooking knowledge.
        </p>
      </div>

      <div class="col s12 m12 l4">
        <img class="homeimg" src="static/img/bfeast.jpg" alt="a cooked meal">
        <p>
          Cookbook is a great website for any new cooks looking to get started with the basic dishes. We've been usin
          their site for years, always coming back to improve upon what we can offer our guests at the dinner table.
          Cookbooks brand of cooking utensils are the perfect tools for getting those dishes to perfection.
        </p>
      </div>

      <div class="col s12 m12 l4">
        <img class="homeimg" src="static/img/meal.jpg" alt="a cooked meal">
        <p>
          I'm new to Cookbook but I keep coming back. I find it very useful to be able to add and update my own recipies
          or to be able to search for other dishes that in their library. Would recommend anyone of all skill levels to
          register with them.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}