{% extends "base.html" %} 

    {% block content %} 

        <h3 class="center-align"> {{ username }}'s details </h3>

        <div class="container signin">
        <div class="card-panel center-align">
            <div class="row">

              <div class="input-field col s12">
                <input id="user_name" name="user_name" type="text" class="validate">
                <label for="user_name">First Name</label>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="user_password" type="password" name="user_password" class="validate">
                  <label for="user_password">Last Name</label>
                </div>
              </div>
            </div>
        </div>


{% endblock %}