{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="card-panel center-align">
    <h3 class="center-align"> {{ username }}'s details </h3>
    <div class="row">
      <div class="input-field col s6">
        <input id="user_name" name="user_name" type="text" class="validate" disabled>
        <label for="user_name">{{ first }}</label>
      </div>

      <div class="input-field col s6">
        <input id="last_name" type="text" name="last_name" class="validate" disabled>
        <label for="last_name">{{ last }}</label>
      </div>
      <div class="input-field col s12">
        <input id="user_name" name="user_name" type="text" class="validate" disabled>
        <label for="user_name">{{ email }}</label>
      </div>
    </div>
  </div>

  <h5 class="card-panel center-align">The Recipies That You Have Added</h5>

  <table class="card-panel">
    <div class="container">
      <tr>
        <th class="center-align">Type</th>
        <th class="center-align">Dish</th>
        <th class="center-align">Description</th>
        <th class="center-align">Update/Delete</th>
      </tr>
      {% for dish in dishes %}
      {% if dish.created_by == username %}
      <tr>
        <td class="center-align"><small>{{ dish.dish_type }}</small></td>
        <td class="center-align"><small>{{ dish.dish_name }}</small></td>
        <td class="center-align"><small><textarea disabled maxlength="500" id="profile_dish_description" name=""
              rows="10" cols="150">{{ dish.dish_description }}</textarea></small></td>
        <td class="center-align">
          <div class="center-align">
            <a href="{{url_for('update_dish', dish_id=dish._id)}}"
              class="green btn center-align"><small>Update</small></a>
            <br />
            <br />
            <a href="{{url_for('delete_dish', dish_id=dish._id)}}"
              class="red btn center-align"><small>Delete</small></a>
          </div>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </div>
  </table>


  {% endblock %}