{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="card-panel center-align">Hello</h3>
    <form method="POST" class="card-panel center-align" action="{{ url_for('update_dish', dish_id=dish._id) }}">
        <div class="input-field col s12">
            <select id="dish_type_name" name="dish_type_name">
                <option value="" disabled>Choose your dish type</option>
                <!-- {% for plate in dishes %}
                
                       {% if plate.dish_type_name == dish.dish_type  %}
                        <option value="{{ plate[dish_type_name] }}" selected>{{ plate[dish_type_name]  }} </option>
                    {% else %}
                        <option value="{{ plate[dish_type_name] }}">{{ plate[dish_type_name]  }} </option>
                    {% endif %}
                    <option value="{{ plate.dish_type_name }}">{{ plate.dish_type_name  }} </option>         


                {% endfor %} --> 
                {% for plate in dishes %}
                    <option value="{{ plate.dish_type_name }}">{{ plate.dish_type_name }} </option>
                {% endfor %}
                
            </select>
            <label for="dish_type_name">Type of dish</label>
        </div>
        <div class="input-field col s12">
            <input type="text" value="{{ dish.dish_name }}" name="dish" placeholder="Dish" id="dish">
        </div>
        <div class="input-field col s12">
            <input type="text" value="{{ dish.dish_description }}" name="description" placeholder="Description"
                id="description">
        </div>
        <a class="btn red " href="{{url_for('dishes')}}">Cancel<i class="far fa-cancel"></i></a>
        <button class="btn waves-effect waves-light" type="submit" name="action" method="POST">Update
            <i class="far fa-share-square"></i>
        </button>
    </form>
</div>

{% endblock %}