{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3 class="card-panel center-align">Edit the Dish</h3>
    <form method="POST" class="card-panel center-align" action="{{ url_for('update_dish', dish_id=dish._id) }}">
        <div class="input-field col s12">

            <select id="dish_type_name" name="dish_type_name">
            <option value="" disabled>Choose Category</option>
                {% for dish in dishes %}
                    {% if dish.dish_type == dish.dish_type %}
                        <option value="{{ dish.dish_type_name }}" selected>{{ dish.dish_type_name }} </option>
                    {% else %}
                    <option value="{{ dish.dish_type_name }}">{{ dish.dish_type_name }} </option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="dish_type_name"></label>

        </div>
        <div class="input-field col s12">
            <input type="text" value="{{ dish.dish_name }}" name="dish" placeholder="Dish" id="dish">
        </div>
        <div class="input-field col s12">
            <input type="text" value="{{ dish.dish_description }}" name="description" placeholder="Description"
                id="description">
        </div>
        <a class="btn red " href="{{url_for('dishes')}}">Cancel<i class="far fa-cancel"></i></a>

        
        <button class="btn waves-effect waves-light" type="submit" name="action" method="POST">Update
            <i class="far fa-share-square"></i>
        </button>
    </form>
</div>

{% endblock %}