{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="card-panel center-align">
        <div class="row">
            <h3>See Our List of Cooking Utensils</h3>
            <h5 id="description">Working in a kitchen, whether a home or professionally, requires a good number of
                cooking utensils. Our
                Cookbook brand will ensure you are well armed to tackle the tasks in the kitcken</h5>
            <div class="col s12 m6">
                <img class="gallery" src="static/img/woodenutensils.png" alt="utensils">
                <p>
                    Our wooden utensils provide for a very wholesome and earthy cooking experience, great for a home
                    cooking experience. These are great for
                    avoiding scrapes and are often used when cooking a more delicate dish.
                </p>
            </div>
            <div class="col s12 m6">
                <img class="gallery" src="static/img/bengali_cooking_tools.jpg" alt="utensils">
                <p>
                    Up next is stanless steal professional cooking utensils, these are great for cooking on a much
                    larger scale. They are very robust and will ensure that all your guests are well served.
            </div>
            <div class="col s12 m6">
                <img class="gallery" src="static/img/utensils.jpg" alt="utensils">
                <p>
                    Finally we have our home stainless steal cooking utensils. These are again very robust but are
                    better suited to cooking at home instead of for professional use.
                </p>
            </div>
            <div class="col s12 m6">
                <img class="gallery" src="static/img/knives.jpg" alt="utensils">
                <p>
                    Moving onto our range of knifes our first set is a small set of stainless steal cooking knifes.
                    These are great for beginners and will give you a lot of access when starting out for home use in
                    the kitchen.
                </p>
            </div>
            <div class="col s12 m6">
                <img class="gallery" src="static/img/kitchenknifeset.jpg" alt="utensils">
                <p>
                    In our second set of home knifes we have a larger range of knifes that allow you to take your
                    cooking to the next level. These will give you a complete range when slices and dices in the
                    kitchen.
                </p>
            </div>
            <div class="col s12 m6">
                <img class="gallery" src="static/img/fullset.jpg" alt="utensils">
                <p>
                    Finally when have our commercial set of cooking knives. These will ensure that you have the
                    nessessary tools for taking on such events as weddings, parties and other larger scale cooking
                    events.
                </p>
            </div>
            <div class="col s12 m6">
                <img class="gallery" src="static/img/cutleryshiny.jpg" alt="utensils">
                <p>
                    When it comes to dinning we have a great starter set of cutlery. If your looking for a simple set of
                    home cutlery this set will do nicely.
                </p>
            </div>
            <div class="col s12 m6">
                <img class="gallery" src="static/img/cutlerynew.jpg" alt="utensils">
                <p>
                    When it comes to a number of different courses though you will need a cutlery set that has a much
                    larger range for different dishes.
                </p>
            </div>
            <div class="col s12 m6">
                <img class="gallery" src="static/img/cutlery.jpg" alt="utensils">
                <p>
                    If its a large scale cooking event then you will need the range of cutlery for all your dishes along
                    with the scale. We can offer you our commercial cutlery set which will cover most large scale
                    cooking events.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}