{% extends "base.html" %}

{% block content %}

<h3 class="center-align"></h3>

<div class="container">
    <div class="card-panel center-align">
        <div class="row">
            <h3>See Our List of Cooking Utensils</h3>
            <div class="col s12 m6 l4">
                <img class="gallery" src="static/img/woodenutensils.png" alt="">
                <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of
                    a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a
                    placeholder before
                    final copy is available.
                </p>
            </div>
            <div class="col s12 m6 l4">
                <img class="gallery" src="static/img/bengali_cooking_tools.jpg" alt="">
                <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of
                    a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a
                    placeholder before
                    final copy is available.
                </p>
            </div>
            <div class="col s12 m6 l4">
                <img class="gallery" src="static/img/utensils.jpg" alt="">
                <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of
                    a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a
                    placeholder before
                    final copy is available.
                </p>
            </div>
            <div class="col s12 m6 l4">
                <img class="gallery" src="static/img/knives.jpg" alt="">
                <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of
                    a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a
                    placeholder before
                    final copy is available.
                </p>
            </div>
            <div class="col s12 m6 l4">
                <img class="gallery" src="static/img/kitchenknifeset.jpg" alt="">
                <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of
                    a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a
                    placeholder before
                    final copy is available.
                </p>
            </div>
            <div class="col s12 m6 l4">
                <img class="gallery" src="static/img/fullset.jpg" alt="">
                <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of
                    a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a
                    placeholder before
                    final copy is available.
                </p>
            </div>
            <div class="col s12 m6 l4">
                <img class="gallery" src="static/img/cutleryshiny.jpg" alt="">
                <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of
                    a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a
                    placeholder before
                    final copy is available.
                </p>
            </div>
            <div class="col s12 m6 l4">
                <img class="gallery" src="static/img/cutlerynew.jpg" alt="">
                <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of
                    a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a
                    placeholder before
                    final copy is available.
                </p>
            </div>
            <div class="col s12 m6 l4">
                <img class="gallery" src="static/img/cutlery.jpg" alt="">
                <p>
                    In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                    visual form of
                    a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a
                    placeholder before
                    final copy is available.
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}